@media screen and (max-width: 740px), screen and (max-device-width: 740px) {
  body .content .container .content__aside {
    margin: 0 0 50px 0;
    width: 100%;
  }
  body .content .container .content__aside div ul {
    height: 250px;
  }
}
@media screen and (max-width: 1500px), screen and (max-device-width: 1500px) {
  body .contentAddres iframe {
    height: 465px;
  }
  body .contentAddres .contentAddres__contactForm .comentary form input[type*="text"],
  body .contentAddres .contentAddres__contactForm .comentary form input[type*="tel"] {
    width: 184px;
  }
  body .contentAddres .contentAddres__contactForm .comentary form textarea {
    width: 395px;
  }
  body .contentAddres .contentAddres__contactForm .contacts,
  body .contentAddres .contentAddres__contactForm .social {
    width: 75%;
  }
}
@media screen and (max-width: 1310px), screen and (max-device-width: 1310px) {
  body .contentAddres .contentAddres__contactForm .contacts,
  body .contentAddres .contentAddres__contactForm .social {
    width: 80%;
  }
}
@media screen and (max-width: 1190px), screen and (max-device-width: 1190px) {
  body .contentAddres .contentAddres__contactForm .comentary {
    margin: 25px 0 0 25px;
  }
  body .contentAddres .contentAddres__contactForm .comentary form input[type*="text"],
  body .contentAddres .contentAddres__contactForm .comentary form input[type*="tel"] {
    width: 144px;
  }
  body .contentAddres .contentAddres__contactForm .comentary form textarea {
    width: 313px;
  }
  body .contentAddres .contentAddres__contactForm .contacts,
  body .contentAddres .contentAddres__contactForm .social {
    margin: 0 0 0 25px;
  }
}
@media screen and (max-width: 940px), screen and (max-device-width: 940px) {
  body .contentAddres .contentAddres__contactForm .comentary form input[type*="text"],
  body .contentAddres .contentAddres__contactForm .comentary form input[type*="tel"] {
    width: 120px;
    height: 30px;
  }
  body .contentAddres .contentAddres__contactForm .comentary form textarea {
    width: 266px;
  }
}
@media screen and (max-width: 870px), screen and (max-device-width: 870px) {
  body .contentAddres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .contentAddres iframe {
    width: 100%;
  }
  body .contentAddres__contactForm {
    width: 100%;
  }
  body .contentAddres__contactForm .comentary {
    margin: 25px 8% 0!important;
    width: 100%;
  }
  body .contentAddres__contactForm .comentary form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  body .contentAddres__contactForm .comentary form input[type*="text"],
  body .contentAddres__contactForm .comentary form input[type*="tel"],
  body .contentAddres__contactForm .comentary form textarea {
    width: 95%!important;
  }
  body .contentAddres__contactForm .comentary form button {
    margin: 0;
    width: 80%;
  }
  body .contentAddres__contactForm .contacts {
    margin: 25px 8% 0!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90% !important;
  }
  body .contentAddres__contactForm .social {
    margin: 25px 8%!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90% !important;
  }
}
@media screen and (max-width: 700px), screen and (max-device-width: 700px) {
  body #thanksComentary {
    width: 290px;
  }
  body #thanksComentary button {
    width: 75%;
  }
}
@media screen and (max-width: 650px), screen and (max-device-width: 650px) {
  body .authorization {
    width: 290px;
  }
  body .authorization .author form p .user,
  body .authorization .regist form p .user,
  body .authorization .author form p .shield,
  body .authorization .regist form p .shield,
  body .authorization .author form p .phone,
  body .authorization .regist form p .phone,
  body .authorization .author form p .envelope,
  body .authorization .regist form p .envelope {
    left: 40px;
  }
  body .authorization .author form p .asterisk,
  body .authorization .regist form p .asterisk {
    right: 40px;
  }
  body .authorization .socialAuthor ul li a {
    width: 125px;
  }
  body .authorization .close {
    display: block;
  }
  #authorizationConfirm {
    width: 290px!important;
  }
}
@media screen and (max-width: 425px), screen and (max-device-width: 425px) {
  body .feedbackFormPopup,
  body #feedbackConfirm {
    width: 290px;
  }
}
@media screen and (max-width: 750px), screen and (max-device-width: 750px) {
  body #order {
    width: 90%;
  }
}
@media screen and (max-width: 750px), screen and (max-device-width: 750px) {
  body #delivery {
    width: 90%;
  }
}
@media screen and (max-width: 750px), screen and (max-device-width: 750px) {
  body #underOrder {
    width: 90%;
  }
}
@media screen and (max-width: 1500px), screen and (max-device-width: 1500px) {
  body .header__fixedNav ul li:nth-child(4) {
    width: 10%;
  }
}
@media screen and (max-width: 1310px), screen and (max-device-width: 1310px) {
  body .header__fixedNav ul li:nth-child(1) a i {
    padding: 0 5px 0 10px;
  }
  body .header__fixedNav ul li:nth-child(2) .desktop input {
    width: 80%;
  }
}
@media screen and (max-width: 1150px), screen and (max-device-width: 1150px) {
  body .header__fixedNav ul li a {
    font-size: 1.3125em;
  }
  body .header__fixedNav ul li:nth-child(2) .desktop input {
    font-size: 1.1875em;
  }
}
@media screen and (max-width: 1050px), screen and (max-device-width: 1050px) {
  body .header__fixedNav {
    width: 100%;
    margin-left: -50%;
  }
}
@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
  body .header__fixedNav ul li a i {
    font-size: 2em;
  }
  body .header__fixedNav ul li:nth-child(1) .desktop,
  body .header__fixedNav ul li:nth-child(3) .desktop,
  body .header__fixedNav ul li:nth-child(5) .desktop {
    display: none;
  }
  body .header__fixedNav ul li:nth-child(1) .mobile,
  body .header__fixedNav ul li:nth-child(3) .mobile,
  body .header__fixedNav ul li:nth-child(5) .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .header__fixedNav ul li:nth-child(1) {
    width: 80px;
  }
  body .header__fixedNav ul li:nth-child(1) a i {
    padding: 0;
  }
  body .header__fixedNav ul li:nth-child(2) {
    width: 60%;
  }
  body .header__fixedNav ul li:nth-child(2) .desktop i {
    left: -35px;
  }
  body .header__fixedNav ul li:nth-child(3),
  body .header__fixedNav ul li:nth-child(5) {
    width: 10%;
  }
}
@media screen and (max-width: 500px), screen and (max-device-width: 500px) {
  body .header__fixedNav ul li a {
    font-size: 1.25em;
  }
  body .header__fixedNav ul li:nth-child(2),
  body .header__fixedNav ul li:nth-child(3),
  body .header__fixedNav ul li:nth-child(4),
  body .header__fixedNav ul li:nth-child(5) {
    width: 25%;
  }
  body .header__fixedNav ul li:nth-child(2) .desktop {
    display: none;
  }
  body .header__fixedNav ul li:nth-child(2) .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 1500px), screen and (max-device-width: 1500px) {
  body {
    font-size: 16px;
    line-height: 18px;
  }
  body .header .container .header__mainSearch .search {
    margin-top: 40px;
  }
  body .header .container .header__mainSearch .search i {
    top: 15px;
  }
  body .header .container .header__mainSearch .numbers {
    margin: 25px 0 0;
  }
  body .header .container .header__mainSearch .workTime {
    margin: 30px 0 0;
  }
  body .header .container .header__cabinet {
    margin-top: 40px;
  }
  body .header .container .header__cabinet ul li:nth-child(3) a i {
    margin: 0 !important;
  }
}
@media screen and (max-width: 1310px), screen and (max-device-width: 1310px) {
  body {
    font-size: 14px;
    line-height: 16px;
  }
  body .header .container .header__headline p {
    font-size: .875em;
  }
  body .header .container .header__logo a,
  body .header .container .header__logo span {
    margin-left: 0;
  }
  body .header .container .header__mainSearch .search input {
    height: 30px;
    line-height: 30px;
  }
  body .header .container .header__mainSearch .search i {
    top: 11px;
    right: 15px;
    font-size: 1.25em;
  }
  body .header .container .header__mainSearch .numbers ul li .icon-auricular-phone-symbol-in-a-circle {
    font-size: 2em;
  }
  body .header .container .header__mainSearch .workTime ul {
    margin-left: 10px;
  }
  body .header .container .header__cabinet ul li a span i {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1150px), screen and (max-device-width: 1150px) {
  body {
    font-size: 12px;
    line-height: 14px;
  }
  body .header .container {
    grid-template-areas: "headline headline headline" "logo search cabinet" "navPanel navPanel navPanel" "secondNav secondNav secondNav";
  }
  body .header .container .header__logo {
    margin-top: 20px;
  }
  body .header .container .header__mainSearch .search {
    margin-top: 20px;
  }
  body .header .container .header__mainSearch .search input {
    width: 90%;
  }
  body .header .container .header__mainSearch .numbers {
    margin: 15px 0 0;
  }
  body .header .container .header__mainSearch .numbers .icon-auricular-phone-symbol-in-a-circle {
    margin: 0 0 0 5px;
    display: block;
    font-size: 3em;
    color: #00929e;
  }
  body .header .container .header__mainSearch .numbers ul {
    width: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .header .container .header__mainSearch .numbers ul li {
    margin: 0 0 0 15px;
  }
  body .header .container .header__mainSearch .numbers ul li .icon-auricular-phone-symbol-in-a-circle {
    display: none;
  }
  body .header .container .header__mainSearch .numbers ul li a {
    font-size: 1.375em;
    line-height: 1.5em;
  }
  body .header .container .header__mainSearch .workTime {
    margin: 20px 0 0 0;
  }
  body .header .container .header__cabinet {
    margin-top: 25px;
  }
  body .header .container .header__cabinet ul li a span i {
    padding: 0 5px;
  }
  body .header .container .header__cabinet ul li:nth-child(3) a {
    margin-top: 25px;
  }
  body .header .container .header__nav-panel__major ul li a,
  body .header .container .header__nav-panel__goods ul li a {
    line-height: 35px;
  }
  body .header .container .header__nav-panel__major ul li span,
  body .header .container .header__nav-panel__goods ul li span {
    line-height: 35px;
  }
}
@media screen and (max-width: 870px), screen and (max-device-width: 870px) {
  body .header .container .header__cabinet ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .header .container .header__cabinet ul li {
    width: 100%!important;
  }
  body .header .container .header__cabinet ul li a {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  body .header .container .header__cabinet ul li a span i {
    padding: 0 10px;
  }
  body .header .container .header__cabinet ul li a span:nth-child(2) {
    white-space: pre-wrap;
  }
  body .header .container .header__cabinet ul li:nth-child(2) {
    margin: 0 0 0 10px;
  }
  body .header .container .header__cabinet ul li:nth-child(3) a {
    margin-top: 0;
    width: 85%;
  }
  body .header .container .header__nav-panel__major ul li a,
  body .header .container .header__nav-panel__goods ul li a {
    font-size: 1em;
  }
  body .header .container .header__nav-panel__major ul li span,
  body .header .container .header__nav-panel__goods ul li span {
    font-size: 1em;
  }
}
@media screen and (max-width: 740px), screen and (max-device-width: 740px) {
  body .header .container .header__mainSearch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .header .container .header__mainSearch .numbers,
  body .header .container .header__mainSearch .workTime {
    margin: 10px 0 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  body .header .container .header__mainSearch .numbers ul,
  body .header .container .header__mainSearch .workTime ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  body .header .container .header__mainSearch .workTime ul li {
    margin: 0 20px 0 0;
  }
  body .header .container .header__cabinet ul li:nth-child(3) {
    margin: 0 0 0 10px;
  }
  body .header .container .header__cabinet ul li:nth-child(3) a {
    width: 100%;
  }
  body .header .container .header__cabinet ul li:nth-child(3) a span i {
    font-size: 2.5em;
  }
  body .header .container .header__nav-panel {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  body .header .container .header__nav-panel .mobileDrop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    font: 1.25em/2em "PTSans-Bold";
    color: #0e3a40;
    text-align: center;
    background-color: #00929e;
    border-radius: 5px;
    text-decoration: none;
  }
  body .header .container .header__nav-panel .mobileDrop:hover {
    cursor: pointer;
  }
  body .header .container .header__nav-panel__major,
  body .header .container .header__nav-panel__goods {
    display: none;
  }
  body .header .container .header__nav-panel__mobile {
    width: 300px;
  }
}
@media screen and (max-width: 680px), screen and (max-device-width: 680px) {
  body .header .container {
    grid-template-areas: "headline headline" "search search" "cabinet cabinet" "navPanel navPanel" "secondNav secondNav";
    -ms-grid-columns: 30% 70%;
    grid-template-columns: 30% 70%;
  }
  body .header .container .header__headline p {
    font-size: .75em;
    line-height: 2em;
  }
  body .header .container .header__logo {
    display: none;
  }
  body .header .container .header__mainSearch .search i {
    right: 25px;
  }
  body .header .container .header__mainSearch .numbers,
  body .header .container .header__mainSearch .workTime {
    width: 100%;
  }
  body .header .container .header__mainSearch .workTime i {
    margin: 0 20px;
  }
  body .header .container .header__cabinet ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  body .header .container .header__cabinet ul li {
    margin: 0 20px!important;
    width: unset!important;
  }
  body .header .container .header__cabinet ul li a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none!important;
  }
  body .header .container .header__cabinet ul li a span i {
    margin: 0;
    padding: 0;
    border: none;
  }
  body .header .container .header__cabinet ul li a span:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1500px), screen and (max-device-width: 1500px) {
  body .content .container .content__howToMakeOrder div .info {
    margin-left: 55px;
  }
}
@media screen and (max-width: 1150px), screen and (max-device-width: 1150px) {
  body .content .container .content__howToMakeOrder div {
    height: 150px;
  }
  body .content .container .content__howToMakeOrder div .icons .arrow {
    margin: 15px 0 0 15px;
  }
  body .content .container .content__howToMakeOrder div .icons .cart,
  body .content .container .content__howToMakeOrder div .icons .box,
  body .content .container .content__howToMakeOrder div .icons .truck {
    margin-top: 20px;
    width: 70px;
    height: 70px;
  }
  body .content .container .content__howToMakeOrder div .learnMore span {
    width: 125px;
  }
}
@media screen and (max-width: 940px), screen and (max-device-width: 940px) {
  body .content .container .content__howToMakeOrder div {
    height: 150px;
  }
  body .content .container .content__howToMakeOrder div .icons .cart,
  body .content .container .content__howToMakeOrder div .icons .box,
  body .content .container .content__howToMakeOrder div .icons .truck {
    width: 50px;
    height: 50px;
    font-size: 3em;
  }
  body .content .container .content__howToMakeOrder div .learnMore span {
    width: 100px;
    height: 35px;
    font-size: 1em;
    line-height: 35px;
  }
}
@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
  body .content .container .content__howToMakeOrder {
    margin: 25px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .content .container .content__howToMakeOrder div {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 0;
    width: 100%;
    height: 90px;
  }
  body .content .container .content__howToMakeOrder div .icons {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  body .content .container .content__howToMakeOrder div .icons .arrow {
    margin: 0;
  }
  body .content .container .content__howToMakeOrder div .icons .cart,
  body .content .container .content__howToMakeOrder div .icons .box,
  body .content .container .content__howToMakeOrder div .icons .truck {
    margin: 0 0 0 15px;
  }
  body .content .container .content__howToMakeOrder div .learnMore {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  body .content .container .content__howToMakeOrder div .learnMore span {
    width: 165px;
  }
  body .content .container .content__howToMakeOrder div .info {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 0;
  }
  body .content .container .content__howToMakeOrder div .icons,
  body .content .container .content__howToMakeOrder div .learnMore,
  body .content .container .content__howToMakeOrder div .info {
    width: unset;
  }
}
@media screen and (max-width: 520px), screen and (max-device-width: 520px) {
  body .content .container .content__howToMakeOrder div {
    height: 120px;
  }
  body .content .container .content__howToMakeOrder div .icons,
  body .content .container .content__howToMakeOrder div .learnMore,
  body .content .container .content__howToMakeOrder div .info {
    -webkit-box-ordinal-group: unset;
    -ms-flex-order: unset;
    order: unset;
  }
  body .content .container .content__howToMakeOrder div .icons {
    width: 40%;
  }
  body .content .container .content__howToMakeOrder div .learnMore {
    width: 60%;
  }
  body .content .container .content__howToMakeOrder div .learnMore span {
    width: 110px;
  }
  body .content .container .content__howToMakeOrder div .info {
    margin-right: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  body .content .container .content__howToMakeOrder div .info span {
    width: 100%;
    text-align: right;
  }
}
@media screen and (max-width: 1266px), screen and (max-device-width: 1266px) {
  body .header .container .header__nav-panel__goods .dropMenu li {
    margin: 20px 0 0 20px;
  }
}
@media screen and (max-width: 1024px), screen and (max-device-width: 1024px) {
  body .header .container .header__nav-panel__goods .dropMenu {
    width: 70%;
  }
  body .header .container .header__nav-panel__goods .medicalDevices,
  body .header .container .header__nav-panel__goods .cosmetics {
    margin-left: -35%;
    left: 42%;
  }
  body .header .container .header__nav-panel__goods .kidsGoods {
    margin-left: -35%;
  }
  body .header .container .header__nav-panel__goods .medicalEquipment,
  body .header .container .header__nav-panel__goods .vitamins {
    margin-right: -35%;
    right: 42%;
  }
}
@media screen and (max-width: 740px), screen and (max-device-width: 740px) {
  body .header .container .header__nav-panel__goods .dropMenu {
    width: 60%;
    top: 0;
    left: 300px;
  }
  body .header .container .header__nav-panel__goods .dropMenu li {
    position: relative;
    margin: 5px 0 0 25px;
    width: 100%;
  }
  body .header .container .header__nav-panel__goods .dropMenu li ul {
    display: none;
  }
  body .header .container .header__nav-panel__goods .dropMenu li:hover ul li {
    display: none;
  }
}
@media screen and (max-width: 650px), screen and (max-device-width: 650px) {
  body .about__us .container .content__aboutUs img {
    width: 100%;
  }
}
@media screen and (max-width: 450px), screen and (max-device-width: 450px) {
  body .about__us .container .content__aboutUs__headline a {
    width: 200px;
    height: 40px;
    line-height: 40px;
  }
}
@media screen and (max-width: 380px), screen and (max-device-width: 380px) {
  body .about__us .container .content__aboutUs__headline a {
    width: 125px;
  }
}
@media screen and (max-width: 1500px), screen and (max-device-width: 1500px) {
  body .busket .container .content__howToMakeOrder {
    margin: 85px 0;
  }
}
@media screen and (max-width: 1310px), screen and (max-device-width: 1310px) {
  body .busket .container .content__howToMakeOrder {
    margin: 75px 0;
  }
}
@media screen and (max-width: 1150px), screen and (max-device-width: 1150px) {
  body .busket .container .content__howToMakeOrder {
    margin: 65px 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .product-titles{
    height: 50px!important;
  }
}
@media screen and (max-width: 1050px), screen and (max-device-width: 1050px) {
  body .busket .container .content__busket .costumerInfo form p {
    width: 200px;
  }
  body .busket .container .content__busket .costumerInfo form p input {
    width: 100%;
  }
  body .busket .container .content__busket .costumerInfo form textarea {
    width: 386px;
  }
}
@media screen and (max-width: 940px), screen and (max-device-width: 940px) {
  body .busket .container {
    grid-template-areas: "breadcrumb breadcrumb" "busket busket" "order order";
    margin-bottom: 0;
  }
  body .busket .container .content__busket {
    margin-right: 0;
  }
  body .busket .container .content__howToMakeOrder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  body .busket .container .content__howToMakeOrder div {
    width: 32%;
  }
}
@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
  body .busket .container .content__howToMakeOrder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .busket .container .content__howToMakeOrder div {
    width: 100%;
  }
}
@media screen and (max-width: 700px), screen and (max-device-width: 700px) {
  body #thanksOrder {
    width: 290px;
  }
  body #thanksOrder button {
    width: 75%;
  }
}
@media screen and (max-width: 550px), screen and (max-device-width: 550px) {
  body .busket .container .content__busket ul li div {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  body .busket .container .content__busket ul li div .value {
    margin: 0 0 10px;
    width: 100%;
    font-size: 1.25em;
    text-align: center;
  }
  body .busket .container .content__busket .costumerInfo form p,
  body .busket .container .content__busket .costumerInfo form textarea {
    margin: 10px 0;
    width: 90%;
    display: block;
  }
  body .busket .container .content__busket .costumerInfo form p .asterisk {
    right: 0;
  }
  body .busket .container .content__busket .costumerInfo form button {
    width: 200px;
  }
}
@media screen and (max-width: 1220px), screen and (max-device-width: 1220px) {
  body .catalog .container .content__catalog .catalog__options__goods select,
  body .catalog .container .content__catalog .catalog__options__sortBy select {
    width: 160px;
  }
  body .catalog .container .content__catalog .catalog__goods div {
    width: 200px;
    height: 315px;
  }
  body .catalog .container .content__catalog .catalog__goods div a img {
    /*width: 175px;*/
    /*height: 175px;*/
  }
}
@media screen and (max-width: 1087px), screen and (max-device-width: 1087px) {
  body .catalog .container .content__catalog .catalog__goods div {
    width: 180px;
    height: 305px;
  }
  body .catalog .container .content__catalog .catalog__goods div a img {
    /*width: 175px;*/
    /*height: 175px;*/
  }
  body .catalog .container .content__catalog .catalog__goods div .hover .addBusket {
    width: 130px;
  }
}
@media screen and (max-width: 1024px), screen and (max-device-width: 1024px) {
  body .catalog .container {
    -ms-grid-columns: 30% 70%;
    grid-template-columns: 30% 70%;
  }
  body .catalog .container .content__catalog .catalog__options__goods,
  body .catalog .container .content__catalog .catalog__options__sortBy {
    display: none;
  }
  body .catalog .container .content__catalog .catalog__options .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .catalog .container .content__catalog .catalog__goods div {
    width: 150px;
    height: 265px;
  }
  body .catalog .container .content__catalog .catalog__goods div a img {
    /*width: 135px;*/
    /*height: 135px;*/
  }
  body .catalog .container .content__catalog .catalog__goods div .hover .addBusket {
    width: 40px;
  }
  body .catalog .container .content__catalog .catalog__goods div .hover .addBusket span {
    display: none;
  }
}
@media screen and (max-width: 920px), screen and (max-device-width: 920px) {
  body .catalog .container {
    grid-template-areas: "breadcrumb breadcrumb" "catalog catalog" "aside aside" "order order";
  }
  body .catalog .container .content__catalog .catalog__goods {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  body .catalog .container .content__catalog .catalog__goods div {
    margin: 15px 0;
    width: 30%;
    height: 305px;
  }
  body .catalog .container .content__catalog .catalog__goods div a img {
    /*width: 175px;*/
    /*height: 175px;*/
  }
  body .catalog .container .content__catalog .catalog__goods div .hover .addBusket {
    width: 120px;
  }
  body .catalog .container .content__catalog .catalog__goods div .hover .addBusket span {
    display: inline-block;
  }
  body .catalog .container .content__catalog .catalog__showMore,
  body .catalog .container .content__catalog .catalog__paginator,
  body .catalog .container .content__catalog .catalog__aboutCategory {
    width: 100%;
  }
  body .catalog .container .content__aside {
    width: 100%;
  }
  body .catalog .container .content__aside div ul {
    height: 200px;
  }
}
@media screen and (max-width: 720px), screen and (max-device-width: 720px) {
  body .catalog .container .content__catalog .catalog__goods div {
    width: 45%;
  }
  body .catalog .container .content__catalog .catalog__goods div .hover .addBusket {
    width: 150px;
  }
  body .catalog .container .content__catalog .catalog__paginator .desktop {
    display: none;
  }
  body .catalog .container .content__catalog .catalog__paginator .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
  body .catalog .container .content__catalog .catalog__goods div {
    width: 225px;
  }
  body .catalog .container .content__catalog .catalog__goods div a img {
    /*width: 200px;*/
    /*height: 200px;*/
  }
  body .catalog__options__mobile {
    width: 290px;
  }
}
@media screen and (max-width: 985px), screen and (max-device-width: 985px) {
  body .certificates .container .content__certificates .firstBlock ul li,
  body .certificates .container .content__certificates .secondBlock ul li {
    width: 20%;
  }
}
@media screen and (max-width: 750px), screen and (max-device-width: 750px) {
  body .certificates .container .content__certificates .firstBlock ul li,
  body .certificates .container .content__certificates .secondBlock ul li {
    width: 25%;
  }
}
@media screen and (max-width: 525px), screen and (max-device-width: 525px) {
  body .certificates .container .content__certificates__headline a {
    width: 200px;
    height: 40px;
    line-height: 40px;
  }
  body .certificates .container .content__certificates__headline a i {
    line-height: 40px;
  }
  body .certificates .container .content__certificates .firstBlock ul li,
  body .certificates .container .content__certificates .secondBlock ul li {
    width: 35%;
  }
}
@media screen and (max-width: 525px), screen and (max-device-width: 525px) {
  body .certificates .container .content__certificates__headline a {
    width: 50px;
  }
  body .certificates .container .content__certificates__headline a span {
    display: none;
  }
  body .certificates .container .content__certificates .firstBlock ul li,
  body .certificates .container .content__certificates .secondBlock ul li {
    width: 65%;
  }
}
@media screen and (max-width: 1500px), screen and (max-device-width: 1500px) {
  body .main .container .content__actualProduct__slider .slider,
  body .main .container .content__saleProduct__slider .slider {
    height: 325px;
  }
  body .main .container .content__actualProduct__slider .slider ul li,
  body .main .container .content__saleProduct__slider .slider ul li {
    width: 200px;
    height: 325px;
  }
  body .main .container .content__actualProduct__slider .slider ul li a img,
  body .main .container .content__saleProduct__slider .slider ul li a img {
    margin-top: 30px;
    width: 175px;
    height: 185px;
  }
  body .main .container .content__actualProduct__slider .slider ul li .hover,
  body .main .container .content__saleProduct__slider .slider ul li .hover {
    width: 198px;
  }
  body .main .container .content__actualProduct__slider .slider ul li .hover .addBusket,
  body .main .container .content__saleProduct__slider .slider ul li .hover .addBusket {
    width: 125px;
  }
  body .main .container .content__actualProduct__slider .slider ul li:hover,
  body .main .container .content__saleProduct__slider .slider ul li:hover {
    height: 385px;
  }
}
@media screen and (max-width: 1310px), screen and (max-device-width: 1310px) {
  body .main .container .content__actualProduct__slider .slider ul li,
  body .main .container .content__saleProduct__slider .slider ul li {
    width: 225px;
  }
  body .main .container .content__actualProduct__slider .slider ul li a img,
  body .main .container .content__saleProduct__slider .slider ul li a img {
    margin-top: 15px;
    width: 200px;
    height: 200px;
  }
  body .main .container .content__actualProduct__slider .slider ul li .hover,
  body .main .container .content__saleProduct__slider .slider ul li .hover {
    width: 223px;
  }
  body .main .container .content__actualProduct__slider .slider ul li .hover .addBusket,
  body .main .container .content__saleProduct__slider .slider ul li .hover .addBusket {
    width: 150px;
  }
}
@media screen and (max-width: 1150px), screen and (max-device-width: 1150px) {
  body .main .container .content__actualProduct__headline div,
  body .main .container .content__saleProduct__headline div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px 40px 0 0;
  }
  body .main .container .content__actualProduct__headline div p,
  body .main .container .content__saleProduct__headline div p {
    margin: 5px 0;
  }
  body .main .container .content__actualProduct__slider .slider,
  body .main .container .content__saleProduct__slider .slider {
    height: 325px;
  }
  body .main .container .content__actualProduct__slider .slider ul li,
  body .main .container .content__saleProduct__slider .slider ul li {
    width: 200px;
  }
  body .main .container .content__actualProduct__slider .slider ul li a img,
  body .main .container .content__saleProduct__slider .slider ul li a img {
    margin-top: 30px;
    width: 175px;
    height: 185px;
  }
  body .main .container .content__actualProduct__slider .slider ul li .hover,
  body .main .container .content__saleProduct__slider .slider ul li .hover {
    width: 198px;
  }
  body .main .container .content__actualProduct__slider .slider ul li .hover .addBusket,
  body .main .container .content__saleProduct__slider .slider ul li .hover .addBusket {
    width: 125px;
  }
  body .main .container .content__actualProduct__slider .slider ul li:hover,
  body .main .container .content__saleProduct__slider .slider ul li:hover {
    height: 380px;
  }
}
@media screen and (max-width: 940px), screen and (max-device-width: 940px) {
  body .main .container .content__actualProduct__headline,
  body .main .container .content__saleProduct__headline {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  body .main .container .content__actualProduct__headline div,
  body .main .container .content__saleProduct__headline div {
    margin: 20px 0 0 0;
  }
  body .main .container .content__actualProduct__headline div p,
  body .main .container .content__saleProduct__headline div p {
    font-size: 1em;
    line-height: 1.125em;
  }
  body .main .container .content__actualProduct__headline div p span,
  body .main .container .content__saleProduct__headline div p span {
    font-size: 1.125em;
  }
  body .main .container .content__actualProduct__showMore a,
  body .main .container .content__saleProduct__showMore a {
    margin: 15px 0;
    width: 150px;
  }
}
@media screen and (max-width: 870px), screen and (max-device-width: 870px) {
  body .main .container .content__actualProduct__headline h5,
  body .main .container .content__saleProduct__headline h5 {
    font-size: 2em;
    line-height: 2.125em;
  }
  body .main .container .content__actualProduct__slider img[alt*="img"],
  body .main .container .content__saleProduct__slider img[alt*="img"] {
    display: none;
  }
}
@media screen and (max-width: 680px), screen and (max-device-width: 680px) {
  body .slider img {
    height: 360px;
  }
  body .main .container .content__actualProduct__headline,
  body .main .container .content__saleProduct__headline {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  body .main .container .content__actualProduct__headline h5,
  body .main .container .content__saleProduct__headline h5 {
    width: 100%;
  }
  body .main .container .content__actualProduct__headline div,
  body .main .container .content__saleProduct__headline div {
    margin: 0;
    width: 100%;
  }
  body .main .container .content__actualProduct__headline div p,
  body .main .container .content__saleProduct__headline div p {
    font-size: .75em;
  }
  body .main .container .content__actualProduct__headline div p span,
  body .main .container .content__saleProduct__headline div p span {
    width: 100px;
  }
}
@media screen and (max-width: 1500px), screen and (max-device-width: 1500px) {
  body .medical__devices .container .content__popularProducts ul li {
    height: 320px;
  }
}
@media screen and (max-width: 1400px), screen and (max-device-width: 1400px) {
  body .medical__devices .container {
    -ms-grid-columns: 25% 55% 20%;
    grid-template-columns: 25% 55% 20%;
  }
  body .medical__devices .container .content__popularProducts ul li {
    width: 230px;
  }
  body .medical__devices .container .content__popularProducts ul li img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 1310px), screen and (max-device-width: 1310px) {
  body .medical__devices .container .content__popularProducts ul li {
    height: 310px;
  }
}
@media screen and (max-width: 1025px), screen and (max-device-width: 1025px) {
  body .medical__devices .container {
    -ms-grid-columns: 30% 70%;
    grid-template-columns: 30% 70%;
    grid-template-areas: "aside breadcrumb" "aside catalog" "order order" "popProd popProd";
  }
  body .medical__devices .container .content__catalog__medicalDevices__info {
    padding-top: 55px;
  }
  body .medical__devices .container .content__catalog__medicalDevices__info p {
    padding: 0 50px 0 0;
  }
  body .medical__devices .container .content__popularProducts {
    padding-top: 0;
  }
  body .medical__devices .container .content__popularProducts a {
    width: 100%;
    font-size: 1.25em;
    line-height: 1.375em;
  }
  body .medical__devices .container .content__popularProducts ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  body .medical__devices .container .content__popularProducts ul li {
    height: 320px;
  }
}
@media screen and (max-width: 840px), screen and (max-device-width: 840px) {
  body .medical__devices .container .content__popularProducts ul li {
    width: 200px;
  }
}
@media screen and (max-width: 740px), screen and (max-device-width: 740px) {
  body .medical__devices .container {
    grid-template-areas: "breadcrumb breadcrumb" "catalog catalog" "aside aside" "popProd popProd" "order order";
  }
  body .medical__devices .container .content__popularProducts ul li {
    width: 30%;
    height: 285px;
  }
  body .medical__devices .container .content__popularProducts ul li a img {
    width: 165px;
    height: 165px;
  }
}
@media screen and (max-width: 670px), screen and (max-device-width: 670px) {
  body .medical__devices .container .content__catalog__medicalDevices__info p {
    padding: 0;
  }
  body .medical__devices .container .content__popularProducts ul li {
    width: 45%;
  }
}
@media screen and (max-width: 450px), screen and (max-device-width: 450px) {
  body .medical__devices .container .content__popularProducts ul li {
    width: 200px;
  }
}
@media screen and (max-width: 1500px), screen and (max-device-width: 1500px) {
  body .personal__cabinet .container .content__cabinet .profiles .custumer__contacts .contacts .value form .contactsSave {
    margin: 40px 0 30px -95px;
  }
  body .personal__cabinet .container .content__cabinet .featuredProducts div {
    height: 310px;
  }
}
@media screen and (max-width: 1310px), screen and (max-device-width: 1310px) {
  body .personal__cabinet .container .content__cabinet {
    -ms-grid-columns: 35% 65%;
    grid-template-columns: 35% 65%;
  }
  body .personal__cabinet .container .content__cabinet .profiles .custumer__contacts .contacts .value form .contactsSave {
    margin: 40px 0 30px -85px;
  }
  body .personal__cabinet .container .content__cabinet .featuredProducts div {
    height: 300px;
  }
}
@media screen and (max-width: 1150px), screen and (max-device-width: 1150px) {
  body .personal__cabinet .container .content__cabinet .profiles .custumer__contacts .contacts .key p {
    line-height: 2.5em;
  }
  body .personal__cabinet .container .content__cabinet .profiles .custumer__contacts .contacts .value p {
    line-height: 2.5em;
  }
  body .personal__cabinet .container .content__cabinet .profiles .custumer__contacts .contacts .value form .contactsSave {
    margin: 40px 0 30px -75px;
  }
  body .personal__cabinet .container .content__cabinet .featuredProducts div {
    height: 290px;
  }
}
@media screen and (max-width: 1100px), screen and (max-device-width: 1100px) {
  body .personal__cabinet .container .content__cabinet {
    grid-template-areas: "headline headline" "nav nav" "tabs tabs";
  }
  body .personal__cabinet .container .content__cabinet ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  body .personal__cabinet .container .content__cabinet ul li {
    width: 30%;
  }
  body .personal__cabinet .container .content__cabinet .profiles {
    width: 100%;
  }
  body .personal__cabinet .container .content__cabinet .myOrders {
    width: 100%;
  }
  body .personal__cabinet .container .content__cabinet .myOrders ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .orderInfo {
    width: 500px!important;
  }
}
@media screen and (max-width: 880px), screen and (max-device-width: 880px) {
  .personal__cabinet .container .content__cabinet .featuredProducts {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .personal__cabinet .container .content__cabinet .featuredProducts div {
    width: 200px;
  }
}
@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
  body .orderInfo {
    width: 290px!important;
  }
  body .orderInfo ul li div {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  body .orderInfo ul li div .value {
    margin: 10px 0;
    width: 100%;
    font-size: 1.25em;
  }
}
@media screen and (max-width: 533px), screen and (max-device-width: 533px) {
  body .personal__cabinet .container .content__cabinet .featuredProducts {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 510px), screen and (max-device-width: 510px) {
  body .personal__cabinet .container .content__cabinet .profiles .custumer__contacts .contacts .value form input,
  body .personal__cabinet .container .content__cabinet .profiles .custumer__email .contacts .value form input,
  body .personal__cabinet .container .content__cabinet .profiles .custumer__password .contacts .value form input {
    width: 200px;
  }
}
@media screen and (max-width: 450px), screen and (max-device-width: 450px) {
  body .personal__cabinet .container .content__cabinet .profiles .custumer__contacts .contacts .key p {
    margin: 0 5px 0 30px;
  }
  body .personal__cabinet .container .content__cabinet .profiles .custumer__contacts .contacts .value form p {
    margin: 0 0 0 5px;
  }
  body .personal__cabinet .container .content__cabinet .profiles .custumer__contacts .contacts .value form input {
    width: 150px;
  }
  body .personal__cabinet .container .content__cabinet .profiles .custumer__contacts .contacts .value form .contactsSave {
    margin: 40px 0 30px -55px;
  }
}
@media screen and (max-width: 1550px), screen and (max-device-width: 1550px) {
  body .product__card .container {
    -ms-grid-columns: 25% 40% 35%;
    grid-template-columns: 25% 40% 35%;
  }
  body .product__card .container .content__productCard__packagingOptions {
    margin: 0 0;
  }
  body .product__card .container .content__productCard__packagingOptions .packaging button,
  body .product__card .container .content__productCard__packagingOptions .plate button {
    width: 105px;
  }
  body .product__card .container .content__productCard__packagingOptions .consultation a {
    width: 245px;
  }
}
@media screen and (max-width: 1500px), screen and (max-device-width: 1500px) {
  body .product__card .container .content__recomend .slider {
    height: 300px;
  }
  body .product__card .container .content__recomend .slider ul li {
    height: 340px;
  }
}
@media screen and (max-width: 1310px), screen and (max-device-width: 1310px) {
  body .product__card .container .content__productCard__img .slideshow li {
    height: 250px;
  }
  body .product__card .container .content__productCard__packagingOptions {
    margin: 63px 0 0;
  }
  body .product__card .container .content__productCard__packagingOptions .productInfo div p,
  body .product__card .container .content__productCard__packagingOptions .productInfo div span {
    height: 20px;
  }
  body .product__card .container .content__productCard__analogue .therapeuticEffect .completeAnalogue ul li {
    height: 315px;
  }
  body .product__card .container .content__recomend .slider {
    height: 325px;
  }
  body .product__card .container .content__recomend .slider ul li {
    width: 225px;
    height: 325px;
  }
  body .product__card .container .content__recomend .slider ul li a img {
    margin-top: 15px;
    width: 200px;
    height: 200px;
  }
  body .product__card .container .content__recomend .slider ul li .hover {
    width: 223px;
  }
}
@media screen and (max-width: 1230px), screen and (max-device-width: 1230px) {
  body .product__card .container .content__productCard__analogue .therapeuticEffect .completeAnalogue ul li {
    width: 200px;
    height: 290px;
  }
  body .product__card .container .content__productCard__analogue .therapeuticEffect .completeAnalogue ul li a img {
    width: 175px;
    height: 175px;
  }
}
@media screen and (max-width: 1160px), screen and (max-device-width: 1160px) {
  body .product__card .container {
    grid-template-areas: "aside breadcrumb breadcrumb" "aside productImg productImg" "aside descr descr" "aside analogue analogue" "recomend recomend recomend" "order order order";
  }
  body .product__card .container .content__productCard__img .slideshow li {
    height: 400px;
  }
  body .product__card .container .content__productCard__packagingOptions {
    margin: 25px 0 0;
  }
  body .product__card .container .content__productCard__packagingOptions .consultation a {
    width: 200px;
  }
  body .product__card .container .content__productCard__packagingOptions .productInfo div p,
  body .product__card .container .content__productCard__packagingOptions .productInfo div span {
    height: 15px;
  }
  body .product__card .container .content__productCard__analogue .therapeuticEffect .completeAnalogue ul li {
    height: 280px;
  }
  body .product__card .container .content__recomend .slider ul li {
    width: 200px;
  }
  body .product__card .container .content__recomend .slider ul li a img {
    margin-top: 30px;
    width: 175px;
    height: 185px;
  }
  body .product__card .container .content__recomend .slider ul li .hover {
    width: 198px;
  }
}
@media screen and (max-width: 1100px), screen and (max-device-width: 1100px) {
  body .product__card .container .content__recomend .slider ul li {
    width: 200px;
  }
  body .product__card .container .content__recomend .slider ul li a img {
    margin-top: 30px;
    width: 175px;
    height: 185px;
  }
}
@media screen and (max-width: 920px), screen and (max-device-width: 920px) {
  body .product__card .container {
    -ms-grid-columns: 55% 45%;
    grid-template-columns: 55% 45%;
    grid-template-areas: "breadcrumb breadcrumb" "productImg descr" "analogue analogue" "recomend recomend" "aside aside" "order order";
  }
  body .product__card .container .content__aside {
    width: 100%;
  }
  body .product__card .container .content__aside div ul {
    height: 200px;
  }
  body .product__card .container .content__productCard__img .slideshow li {
    height: 250px;
  }
  body .product__card .container .content__productCard__packagingOptions {
    margin: 54px 0 0 15px;
  }
  body .product__card .container .content__productCard__packagingOptions .packaging,
  body .product__card .container .content__productCard__packagingOptions .plate {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  body .product__card .container .content__productCard__packagingOptions .packaging .value,
  body .product__card .container .content__productCard__packagingOptions .plate .value {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  body .product__card .container .content__productCard__packagingOptions .packaging .price,
  body .product__card .container .content__productCard__packagingOptions .plate .price {
    width: 50%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  body .product__card .container .content__productCard__packagingOptions .packaging .quantity,
  body .product__card .container .content__productCard__packagingOptions .plate .quantity {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  body .product__card .container .content__productCard__packagingOptions .packaging button,
  body .product__card .container .content__productCard__packagingOptions .plate button {
    margin: 20px 0 0;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}
@media screen and (max-width: 780px), screen and (max-device-width: 780px) {
  body .product__card .container {
    grid-template-areas: "breadcrumb breadcrumb" "productImg productImg" "descr descr" "analogue analogue" "recomend recomend" "aside aside" "order order";
  }
  body .product__card .container .content__productCard__img .slideshow li {
    height: 400px;
  }
  body .product__card .container .content__productCard__packagingOptions {
    margin: 25px 0 0 0;
  }
  body .product__card .container .content__productCard__packagingOptions .packaging button,
  body .product__card .container .content__productCard__packagingOptions .plate button {
    margin: 0;
  }
  body .product__card .container .content__productCard__packagingOptions .others {
    height: 50px;
  }
  body .product__card .container .content__productCard__packagingOptions .others p {
    line-height: 50px;
  }
  body .product__card .container .content__recomend .slider .center .prevRecomend {
    left: 0;
  }
  body .product__card .container .content__recomend .slider .center .nextRecomend {
    right: 0;
  }
  body .content__productCard__imgPopup {
    grid-template-areas: "slider slider" "options options";
  }
  body .content__productCard__imgPopup .slideshowPopup .slideshow li {
    height: 250px;
  }
  body .content__productCard__imgPopup .slideshowPopup .slideshow li img {
    width: 80%;
  }
  body .content__productCard__imgPopup .packagingOptionsPopup .packaging,
  body .content__productCard__imgPopup .packagingOptionsPopup .plate {
    padding: 0 25px;
  }
}
@media screen and (max-width: 640px), screen and (max-device-width: 640px) {
  body .product__card .container .content__productCard__analogue .productCard__descr li {
    margin: 0;
    width: 25%;
  }
  body .product__card .container .content__productCard__analogue .productCard__descr li a {
    font-size: .875em;
  }
  body .product__card .container .content__productCard__analogue .therapeuticEffect,
  body .product__card .container .content__productCard__analogue .farmCare,
  body .product__card .container .content__productCard__analogue .manual,
  body .product__card .container .content__productCard__analogue .videoSurveillance {
    border-radius: 0 0 5px 5px;
  }
}
@media screen and (max-width: 585px), screen and (max-device-width: 585px) {
  body .product__card .container .content__productCard__img .slideshow li {
    height: 250px;
  }
  body .product__card .container .content__productCard__img .slideshowNav li {
    width: 60px;
    height: 15px;
  }
  body .product__card .container .content__productCard__analogue .therapeuticEffect .completeAnalogue ul,
  body .product__card .container .content__productCard__analogue .farmCare .completeAnalogue ul,
  body .product__card .container .content__productCard__analogue .manual .completeAnalogue ul,
  body .product__card .container .content__productCard__analogue .videoSurveillance .completeAnalogue ul,
  body .product__card .container .content__productCard__analogue .therapeuticEffect .otherReleseForm ul,
  body .product__card .container .content__productCard__analogue .farmCare .otherReleseForm ul,
  body .product__card .container .content__productCard__analogue .manual .otherReleseForm ul,
  body .product__card .container .content__productCard__analogue .videoSurveillance .otherReleseForm ul,
  body .product__card .container .content__productCard__analogue .therapeuticEffect .similarEffect ul,
  body .product__card .container .content__productCard__analogue .farmCare .similarEffect ul,
  body .product__card .container .content__productCard__analogue .manual .similarEffect ul,
  body .product__card .container .content__productCard__analogue .videoSurveillance .similarEffect ul {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  body .product__card .container .content__productCard__analogue .therapeuticEffect .completeAnalogue ul li,
  body .product__card .container .content__productCard__analogue .farmCare .completeAnalogue ul li,
  body .product__card .container .content__productCard__analogue .manual .completeAnalogue ul li,
  body .product__card .container .content__productCard__analogue .videoSurveillance .completeAnalogue ul li,
  body .product__card .container .content__productCard__analogue .therapeuticEffect .otherReleseForm ul li,
  body .product__card .container .content__productCard__analogue .farmCare .otherReleseForm ul li,
  body .product__card .container .content__productCard__analogue .manual .otherReleseForm ul li,
  body .product__card .container .content__productCard__analogue .videoSurveillance .otherReleseForm ul li,
  body .product__card .container .content__productCard__analogue .therapeuticEffect .similarEffect ul li,
  body .product__card .container .content__productCard__analogue .farmCare .similarEffect ul li,
  body .product__card .container .content__productCard__analogue .manual .similarEffect ul li,
  body .product__card .container .content__productCard__analogue .videoSurveillance .similarEffect ul li {
    width: 225px;
    height: 305px;
  }
  body .product__card .container .content__productCard__analogue .therapeuticEffect .completeAnalogue ul li a img,
  body .product__card .container .content__productCard__analogue .farmCare .completeAnalogue ul li a img,
  body .product__card .container .content__productCard__analogue .manual .completeAnalogue ul li a img,
  body .product__card .container .content__productCard__analogue .videoSurveillance .completeAnalogue ul li a img,
  body .product__card .container .content__productCard__analogue .therapeuticEffect .otherReleseForm ul li a img,
  body .product__card .container .content__productCard__analogue .farmCare .otherReleseForm ul li a img,
  body .product__card .container .content__productCard__analogue .manual .otherReleseForm ul li a img,
  body .product__card .container .content__productCard__analogue .videoSurveillance .otherReleseForm ul li a img,
  body .product__card .container .content__productCard__analogue .therapeuticEffect .similarEffect ul li a img,
  body .product__card .container .content__productCard__analogue .farmCare .similarEffect ul li a img,
  body .product__card .container .content__productCard__analogue .manual .similarEffect ul li a img,
  body .product__card .container .content__productCard__analogue .videoSurveillance .similarEffect ul li a img {
    width: 200px;
    height: 200px;
  }

  body .busket .container .content__busket .costumerInfo textarea{
    width: 90%;
  }
}
@media screen and (max-width: 530px), screen and (max-device-width: 530px) {
  body .product__card .container .content__productCard__packagingOptions .packaging button,
  body .product__card .container .content__productCard__packagingOptions .plate button {
    margin: 20px 0 0;
  }
  body .product__card .container .content__productCard__analogue .therapeuticEffect .completeAnalogue h6,
  body .product__card .container .content__productCard__analogue .therapeuticEffect .otherReleseForm h6,
  body .product__card .container .content__productCard__analogue .therapeuticEffect .similarEffect h6 {
    width: 100%;
  }
  body .product__card .container .content__productCard__analogue .therapeuticEffect .completeAnalogue span,
  body .product__card .container .content__productCard__analogue .therapeuticEffect .otherReleseForm span,
  body .product__card .container .content__productCard__analogue .therapeuticEffect .similarEffect span {
    margin: 5px 0 20px;
    width: 100%;
    text-align: right;
  }
  body .product__card .container .content__productCard__breadcrumb h5 {
    font: 1.4em/1.375em "PTSerif-Italic";
    color: #0e3a40;
    line-height: 1.4em;
    margin-top: 10px;
    margin-bottom: 10px;

  }

}
@media screen and (max-width: 430px), screen and (max-device-width: 430px) {
  body .product__card .container .content__productCard__img h5 {
    font-size: 1.75em;
  }
  body .product__card .container .content__productCard__img .slideshow li {
    height: 175px;
  }
  body .content__productCard__imgPopup .slideshowPopup h5 {
    font-size: 1.75em;
  }
  body .content__productCard__imgPopup .slideshowPopup .slideshow li {
    height: 175px;
  }
}
@media screen and (max-width: 920px), screen and (max-device-width: 920px) {
  body .error404 .container .content__error ul li:nth-child(1) p:nth-child(2) {
    font-size: 10em;
  }
  body .error404 .container .content__error ul li:nth-child(1) p:nth-child(2) span {
    font-size: .125em;
  }
}
@media screen and (max-width: 750px), screen and (max-device-width: 750px) {
  body .error404 .container .content__error ul li:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .error404 .container .content__error ul li:nth-child(1) p {
    width: 100%;
    text-align: center!important;
  }
  body .error404 .container .content__error ul li:nth-child(1) p img {
    margin: 0 0 50px!important;
  }
  body .error404 .container .content__error ul li:nth-child(2) p {
    font-size: .875em;
  }
}
@media screen and (max-width: 450px), screen and (max-device-width: 450px) {
  body .error404 .container .content__error ul li:nth-child(1) p img {
    width: 100%!important;
  }
}

/*# sourceMappingURL=maps/media.css.map */
